################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/StripeAndTwilio/v17/.suo
/StripeAndTwilio/bin/StripeAndTwilio.dll
/StripeAndTwilio/obj/Debug/StripeAndTwilio.dll
/StripeAndTwilio/bin/StripeAndTwilio.pdb
