################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/StripeAndTwilio/v17/.suo
/StripeAndTwilio/bin/StripeAndTwilio.dll
/StripeAndTwilio/obj/Debug/StripeAndTwilio.dll
/StripeAndTwilio/bin/StripeAndTwilio.pdb
/StripeAndTwilio/Web.config
/StripeAndTwilio/obj/Release/TransformWebConfig/original/Web.config
/StripeAndTwilio/obj/Release/CSAutoParameterize/original/Web.config
/StripeAndTwilio/obj/Release/CSAutoParameterize/transformed/Web.config
/StripeAndTwilio/obj/Release/TransformWebConfig/transformed/Web.config
/StripeAndTwilio/obj/Release/Package/PackageTmp/Web.config
