
@{
    ViewBag.Title = "cancellationpolicy";
    Layout = "~/Views/Shared/_Theme.cshtml";
}


<div class="row">
    <h3 class="text-center"> Policies on Cancellations </h3>
    <div style="margin-left:5%;margin-right:5%;text-align:center;text-justify:initial">

        <p>
            CAN I CANCEL MY RESERVATION, AND HOW?

            Use the same email address you used to make your reservation to send a cancellation request to cancel@airporttaxibook.com. Your email must include you’re a) Order No
            b) Order date/time
            c) Full Name
            d) Pick-up date/time
            e) Reason for cancellation

            HOW LONG DO I HAVE TO CANCEL MY RESERVATION?

            If you cancel your reservation 48 hours before the scheduled pick-up date or time, the total cost will be credited to your credit or debit card.
            No refunds will be issued for any reason if you do not email us to cancel your reservation before the deadline.

            WHAT SHOULD I DO IF I HAVE A PROBLEM WITH THE SERVICE THAT HAS NOTHING TO DO WITH ME?

            If any issues prevent the transport firm from providing the transportation service: You can ask the business to offer you an alternate service.

            We will let you know if the Transfer Company needs to modify or cancel your agreed Transport Arrangements as soon as possible.

            We will also communicate with the Transport Company to make alternate arrangements. It should be emphasised, nonetheless, that the airport taxi directory is not liable for rendering the Services. Airport taxi book is not obligated to provide additional services or reimbursement due to any issues with the transportation provider.

        </p>


    </div>

</div>