@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!--<script defer src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initMap&language=en&key=AIzaSyDetVuTnBlaepZ7h7VN-A-s8saBo40E5t4" type="text/javascript"></script>

<div id="homepage-block-3" data-zs-speed="12000" data-zs-interval="7000" data-zs-bullets="false" data-zs-switchSpeed="4000" data-zs-src='["~/Content/assets/images/_homepage-3-2-bg.jpg", "~/Content/assets/images/_homepage-3-bg.jpg"]'>
    <div class="container">

        <section class="form-taxi-short">
            <div class="container">
                <form id="distance_form">
                    <h3 class="aligncenter">Get Taxi <span class="yellow">Online</span></h3>-->
                    @*<div class="menu-types row" >
                            <a href="#" data-value="1" class="type-1 active col-xs-2">Standart</a>
                            <a href="#" data-value="2" class="type-2 col-xs-2">Business</a>
                            <a href="#" data-value="3" class="type-3 red col-xs-2">Vip</a>
                            <a href="#" data-value="4" class="type-4 col-xs-2">Bus-Minivan</a>
                            <input type="hidden" name="type-value" class="type-value ajaxField" value="1">
                        </div>*@
                    <!--<div class="row form-with-labels">

                        <div class="row form-with-labels">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" name="from" id="from_places" placeholder="From Address..." class=" required"><span class="fa fa-map-marker"></span>
                                    <input id="origin" name="origin" required="" type="hidden" />


                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" name="to" id="to_places" placeholder="Destination" class="ajaxField required"><span class="fa fa-map-marker"></span>
                                    <input id="destination" name="destination" required="" type="hidden" />

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div style=" text-align: left;">Select date</div>
                                <div class="form-group">

                                    <input type="date" id="bookdate" style="width: 100%; font-size: 16px; display: block; margin: 0 auto; /* margin-bottom: 24px; */ background: #fff; padding: 12px 18px; border: 1px solid #E6E6E6; -webkit-border-radius: 3px; -webkit-background-clip: padding-box; -moz-border-radius: 3px; -moz-background-clip: padding; border-radius: 3px; background-clip: padding-box;" name="text" value="" class="ajaxField required">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div style=" text-align: left;">Select time</div>
                                <div class="form-group">
                                    <input type="time" style="width: 100%; font-size: 16px; display: block; margin: 0 auto; /* margin-bottom: 24px; */ background: #fff; padding: 12px 18px; border: 1px solid #E6E6E6; -webkit-border-radius: 3px; -webkit-background-clip: padding-box; -moz-border-radius: 3px; -moz-background-clip: padding; border-radius: 3px; background-clip: padding-box;" name="text" value="" class="ajaxField required">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="number" style="width: 100%; font-size: 16px; display: block; margin: 0 auto; /* margin-bottom: 24px; */ background: #fff; padding: 12px 18px; border: 1px solid #E6E6E6; -webkit-border-radius: 3px; -webkit-background-clip: padding-box; -moz-border-radius: 3px; -moz-background-clip: padding; border-radius: 3px; background-clip: padding-box;" id="bookpassenger" placeholder="Passenger" min="0" class="ajaxField required">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="number" style="width: 100%; font-size: 16px; display: block; margin: 0 auto; /* margin-bottom: 24px; */ background: #fff; padding: 12px 18px; border: 1px solid #E6E6E6; -webkit-border-radius: 3px; -webkit-background-clip: padding-box; -moz-border-radius: 3px; -moz-background-clip: padding; border-radius: 3px; background-clip: padding-box;" name="text" id="Bagsbook" value="" placeholder="Luggage" class="ajaxField required">
                                </div>
                            </div>

                        </div>

                    </div>



                    <input class="btn btn-lg btn-yellow aligncenter" type="submit" value="Calculate" />
                </form>


            </div>
        </section>

    </div>
</div>

<form id="formmintid" method="post" action="~/Home/Index">
    <input name="Totalminutes" type="number" id="mintid" hidden />
    <input name="Fromloc" type="text" id="Fromloc" hidden />
    <input name="Toloc" type="text" id="Toloc" hidden />
    <input name="Passenger" type="number" id="Passenger" hidden />
    <input name="Luggage" type="number" id="Luggage" hidden />
    <input name="bookingdate" type="date" id="bookingdate" hidden />
    <button type="submit" hidden>save</button>
</form>

<div class="homepage-block-yellow-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <h3><span class="fa fa-phone"></span> 800-5-800</h3>
            </div>
            <div class="col-lg-2 col-md-6  col-sm-6">
                <h4><span class="fa fa-skype"></span> Gettaxipark</h4>
            </div>
            <div class="col-lg-5 col-md-6  col-sm-6">
                <h4><span class="fa fa-map-marker"></span> 43 2-nd Avenue,  New York,  29004-7153</h4>
            </div>
            <div class="col-lg-2 col-md-6  col-sm-6">
                <a href="#" class="btn btn-black-bordered btn-lg pull-right">Our Tariffs</a>
            </div>
        </div>
    </div>
</div>


<section id="tariffs">
    <div class="container">
        <h4 class="yellow">See Our</h4>
        <h2 class="h1">Tariffs</h2>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="item matchHeight">
                    <div class="image"><img src="~/Content/assets/images/_tariff-1.png" class="full-width" alt="Tariff"></div>
                    <h4>Standart</h4>
                    <p>Standard sedan for a drive around the city at your service</p>
                    <div class="price">$2<span>/km</span></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item matchHeight">
                    <div class="image"><img src="~/Content/assets/images/_tariff-2.png" class="full-width" alt="Tariff"></div>
                    <h4>Business</h4>
                    <p>Standard sedan for a drive around the city at your service</p>
                    <div class="price">$2,7<span>/km</span></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item matchHeight vip">
                    <div class="image"><img src="~/Content/assets/images/_tariff-3.png" class="full-width" alt="Tariff"></div>
                    <h4 class="red">Vip</h4>
                    <p>Standard sedan for a drive around the city at your service</p>
                    <div class="price">$5<span>/km</span></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item matchHeight">
                    <div class="image"><img src="~/Content/assets/images/_tariff-4.png" class="full-width" alt="Tariff"></div>
                    <h4>Bus-minivan</h4>
                    <p>Standard sedan for a drive around the city at your service</p>
                    <div class="price">$4,5<span>/km</span></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="car-block">
    <div class="car-right animation-block"><img src="~/Content/assets/images/_car-big-side.png" alt="Car"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h4 class="yellow">For Drivers</h4>
                <h2 class="h1">Do You Want To Earn With Us?</h2>
            </div>
            <div class="col-md-6">
                <p>Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur dapibus pulvinar, sapien eros sodales ante, euismod aliquet nulla metus a mauris. </p>

                <ul class="check two-col strong">
                    <li>Luxury cars</li>
                    <li>No fee</li>
                    <li>Weekly payment</li>
                    <li>Fixed price</li>
                    <li>Good application</li>
                    <li>Stable orders</li>
                </ul>

                <a href="#" class="btn btn-yellow btn-lg btn-white">Become a Driver</a>
            </div>
        </div>
    </div>
</section>
<section id="testimonials">
    <hr class="lg">
    <div class="container">
        <h4 class="yellow">Happy Client's</h4>
        <h2 class="h1">Testimonials</h2>

        <div class="swiper-container row" id="testimonials-slider">
            <div class="swiper-wrapper">
                <div class="col-md-4 col-sm-6 swiper-slide">
                    <div class="inner matchHeight">
                        <div class="text">
                            <p>Nullam orci dui, dictum et magna sollicitudin, tempor blandit erat. Maecenas suscipit tellus sit amet augue placerat fringilla a id lacus. Fusce tincidunt in leo lacinia condimentum.</p>
                        </div>
                        <div class="quote">
                            <span class="fa fa-quote-left"></span>
                            <div class="name">Anastasia Stone</div>
                            <img src="~/Content/assets/images/_client-1.jpg" alt="Client">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 swiper-slide">
                    <div class="inner matchHeight">
                        <div class="text">
                            <p>Suspendisse nec arcu sed nibh lacinia pretium. Phasellus eros ligula, mattis id rutrum non, eleifend vitae lacus. </p>
                        </div>
                        <div class="quote">
                            <span class="fa fa-quote-left"></span>
                            <div class="name">Steven Rashford</div>
                            <img src="~/Content/assets/images/_client-4.jpg" alt="Client">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 swiper-slide">
                    <div class="inner matchHeight">
                        <div class="text">
                            <p>Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur dapibus pulvinar, sapien eros sodales ante, euismod aliquet nulla metus a mauris. </p>
                        </div>
                        <div class="quote">
                            <span class="fa fa-quote-left"></span>
                            <div class="name">Patrick James</div>
                            <img src="~/Content/assets/images/_client-5.jpg" alt="Client">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 swiper-slide">
                    <div class="inner matchHeight">
                        <div class="text">
                            <p>Nullam orci dui, dictum et magna sollicitudin, tempor blandit erat. Maecenas suscipit tellus sit amet augue placerat fringilla a id lacus. Fusce tincidunt in leo lacinia condimentum.</p>
                        </div>
                        <div class="quote">
                            <span class="fa fa-quote-left"></span>
                            <div class="name">Anastasia Stone</div>
                            <img src="~/Content/assets/images/_client-1.jpg" alt="Client">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 swiper-slide">
                    <div class="inner matchHeight">
                        <div class="text">
                            <p>Suspendisse nec arcu sed nibh lacinia pretium. Phasellus eros ligula, mattis id rutrum non, eleifend vitae lacus. </p>
                        </div>
                        <div class="quote">
                            <span class="fa fa-quote-left"></span>
                            <div class="name">Steven Rashford</div>
                            <img src="~/Content/assets/images/_client-4.jpg" alt="Client">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 swiper-slide">
                    <div class="inner matchHeight">
                        <div class="text">
                            <p>Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur dapibus pulvinar, sapien eros sodales ante, euismod aliquet nulla metus a mauris. </p>
                        </div>
                        <div class="quote">
                            <span class="fa fa-quote-left"></span>
                            <div class="name">Patrick James</div>
                            <img src="~/Content/assets/images/_client-5.jpg" alt="Client">
                        </div>
                    </div>
                </div>
            </div>
            <div class="arrows">
                <a href="#" class="arrow-left fa fa-caret-left"></a>
                <a href="#" class="arrow-right fa fa-caret-right"></a>
            </div>
        </div>
    </div>
</section>
<div id="homepage-banners">
    <div class="container">
        <div class="row">
            <a href="#" class="col-md-6 col-sm-6 col-ms-6"><img src="~/Content/assets/images/_banner-1.png" class="full-width" alt="Banner"></a>
            <a href="#" class="col-md-6 col-sm-6 col-ms-6"><img src="~/Content/assets/images/_banner-2.png" class="full-width" alt="Banner"></a>
        </div>
    </div>
</div>

<section id="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <h4 class="black margin-0">Our partners</h4>
                <h2 class="white margin-0">and clients</h2>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="row items">
                    <div class="col-md-5ths col-sm-3 col-ms-4 col-xs-6"><a href="#"><img src="~/Content/assets/images/_partner-1.png" alt="Partner"></a></div>
                    <div class="col-md-5ths col-sm-3 col-ms-4 col-xs-6"><a href="#"><img src="~/Content/assets/images/_partner-2.png" alt="Partner"></a></div>
                    <div class="col-md-5ths col-sm-3 col-ms-4 col-xs-6"><a href="#"><img src="~/Content/assets/images/_partner-3.png" alt="Partner"></a></div>
                    <div class="col-md-5ths col-sm-3 col-ms-4 col-xs-6"><a href="#"><img src="~/Content/assets/images/_partner-4.png" alt="Partner"></a></div>
                    <div class="col-md-5ths col-sm-3 col-ms-4 col-xs-6"><a href="#"><img src="~/Content/assets/images/_partner-5.png" alt="Partner"></a></div>
                </div>
            </div>
        </div>
    </div>
</section>



<script type="text/javascript">
    function initMap() {
        // add input listeners
        google.maps.event.addDomListener(window, "load", function () {
            var from_places = new google.maps.places.Autocomplete(
                document.getElementById("from_places")
            );
            var to_places = new google.maps.places.Autocomplete(
                document.getElementById("to_places")
            );

            google.maps.event.addListener(
                from_places,
                "place_changed",
                function () {
                    var from_place = from_places.getPlace();
                    var from_address = from_place.formatted_address;
                    $("#origin").val(from_address);
                }
            );

            google.maps.event.addListener(
                to_places,
                "place_changed",
                function () {
                    var to_place = to_places.getPlace();
                    var to_address = to_place.formatted_address;
                    $("#destination").val(to_address);
                }
            );
        });
        // calculate distance
        function calculateDistance() {
            var origin = $("#origin").val();
            var destination = $("#destination").val();
            var service = new google.maps.DistanceMatrixService();
            service.getDistanceMatrix(
                {
                    origins: [origin],
                    destinations: [destination],
                    travelMode: google.maps.TravelMode.DRIVING,
                    unitSystem: google.maps.UnitSystem.IMPERIAL, // miles and feet.
                    // unitSystem: google.maps.UnitSystem.metric, // kilometers and meters.
                    avoidHighways: false,
                    avoidTolls: false,
                },
                callback
            );
        }
        // get distance results
        function callback(response, status) {
            if (status != google.maps.DistanceMatrixStatus.OK) {
                $("#result").html(err);
            } else {
                var origin = response.originAddresses[0];
                console.log(origin);
                var destination = response.destinationAddresses[0];
                console.log(destination);
                if (response.rows[0].elements[0].status === "ZERO_RESULTS") {
                    $("#result").html(
                        "Better get on a plane. There are no roads between " +
                        origin +
                        " and " +
                        destination
                    );
                } else {
                    var distance = response.rows[0].elements[0].distance;
                    console.log(distance);
                    var duration = response.rows[0].elements[0].duration;
                    console.log(duration);
                    console.log(response.rows[0].elements[0].distance);
                    var distance_in_kilo = distance.value / 1000; // the kilom
                    var distance_in_mile = distance.value / 1609.34; // the mile
                    console.log(distance_in_kilo);
                    console.log(distance_in_mile);
                    var duration_text = duration.text;
                    var duration_value = duration.value;
                    //alert(duration_value);
                    $("#mintid").val(duration_value);
                    var Passenge = $('#bookpassenger').val();
                    $("#Passenger").val(Passenge);
                    var Luggage = $('#Bagsbook').val();
                    $("#Luggage").val(Luggage);
                    var fp = $('#from_places').val();
                    $("#Fromloc").val(fp);
                    var tp = $('#to_places').val();
                    $("#Toloc").val(tp);
                    var bookdate = $('#bookdate').val();
                    $("#bookingdate").val(bookdate);
                    $('form#formmintid').submit();


                    //$("#mile").html(
                    //    `Distance in Miles: ${distance_in_mile.toFixed(2)}`
                    //);
                    //$("#kilo").html(
                    //    `Distance in Kilometre: ${distance_in_kilo.toFixed(2)}`
                    //);
                    //$("#text").html(`Distance in Text: ${duration_text}`);
                    //$("#minute").html(`Distance in Minutes: ${duration_value}`);
                    //$("#from").html(`Distance From: ${origin}`);
                    //$("#to").text(`Distance to: ${destination}`);
                }
            }
        }
        // print results on submit the form
        $("#distance_form").submit(function (e) {
            e.preventDefault();
            calculateDistance();
        });
    }
</script>-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link href="~/Content/HomeTheme/styles.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Taxi_Project</title>
</head>
<body>
    <header style="background-image: url(./Content/HomeTheme/images/Background_1440x1080-1024x768.jpg);
   background-repeat: no-repeat; object-fit: cover; background-size: 100%; width: 100%; height: 777px">
        <div class="wrapper">
            <nav>
                <div class="main-logo">
                    <img src="~/Content/HomeTheme/images/logo.png" alt="">
                </div>
                <div class="options">
                    <img class="flag" src="~/Content/HomeTheme/images/Flag_of_the_United_Kingdom 1.png" alt="">
                    <img class="drop-icon" src="~/Content/HomeTheme/images/dropdown.svg" alt="">
                    <img class="line31" src="~/Content/HomeTheme/images/Line 31.svg" alt="">
                    <p class="help-option">Helpdesk</p>
                </div>
            </nav>
            <!--Navbar ends-->
            <div class="hero-section">
                <div class="left">
                    <p class="heading">Lorem ipsum dolor sit amet, consectetur admpus lacus. Integer ut odioti</p>
                    <img src="~/Content/HomeTheme/images/Line Vector.svg" alt="" style="margin-top: 8px;">
                    <p class="sub-heading">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vivamus pulvinar, risus eget fermentum efficitur, augue sapien tincidunt lacus, nec
                    </p>
                    <div class="review-pics">
                        <img src="~/Content/HomeTheme/images/Ellipse 3.png" alt="" class="r-pic">
                        <img src="~/Content/HomeTheme/images/Ellipse 4.png" alt="" style="margin-left: -20px;" class="r-pic">
                        <img src="~/Content/HomeTheme/images/Ellipse 5.png" alt="" style="margin-left: -20px;" class="r-pic">
                        <img src="~/Content/HomeTheme/images/Ellipse 6.png" alt="" style="margin-left: -20px;" class="r-pic">
                        <p style="background-image: url(~/Content/HomeTheme/images/Ellipse\ 7.svg); background-repeat: no-repeat; width: 63px;
                height: 63px; display: flex; font-size: 20px; margin-left: -20px;
                justify-content: center; align-items: center; color: white; font-weight: bold;">3+</p>
                    </div>

                    <div class="review-stars">
                        <div>
                            <img src="images/star.png" alt="">
                            <img src="~/Content/HomeTheme/images/star.png" alt="">
                            <img src="~/Content/HomeTheme/images/star.png" alt="">
                            <img src="~/Content/HomeTheme/images/star.png" alt="">
                            <img src="~/Content/HomeTheme/images/star.png" alt="">
                        </div>
                        <p class="review-text" style="padding-top: 13px;">8 (Reviews)</p>
                    </div>
                </div>
                <div class="right">
                    <form action="#" class="header-form">
                        <p class="from-text">From</p>
                        <div class="input-from">
                            <span class="search-icon"><img src="~/Content/HomeTheme/images/Vector.svg" alt=""></span>
                            <input class="from-in form-control" type="text" placeholder="Airport,address,station,port">
                        </div>
                        <p class="to-text">To</p>
                        <div class="input-from">
                            <span class="search-icon"><img src="~/Content/HomeTheme/images/Vector.svg" alt=""></span>
                            <input class="from-in form-control" type="text" placeholder="Airport,address,station,port">
                        </div>
                        <div class="passenger_luggage">
                            <div>
                                <p style="margin-top: 10px; margin-bottom: 10px;">passengers</p>
                                <div class="input-from" style="height: 49px;">
                                    <span class="passenger_luggage-icon"><img src="~/Content/HomeTheme/images/Vector (1).svg" alt=""></span>
                                    <input class="from-in form-control" type="text" placeholder="2" style="text-align:end;">
                                </div>
                            </div>
                            <div>
                                <p style="margin-top: 10px; margin-bottom: 10px;">Luggage</p>
                                <div class="input-from" style="height: 49px;">
                                    <span class="passenger_luggage-icon"><img src="~/Content/HomeTheme/images/Vector (2).svg" alt=""></span>
                                    <input class="from-in form-control" type="text" placeholder="2" style="text-align:end;">
                                </div>
                            </div>

                        </div>
                        <p class="date_time">pickup date & Time</p>
                        <div class="input-date-time">
                            <div class="input-td" style="height: 49px;"
                                 style=" border-top-right-radius: 0%;">
                                <span class="date-time-icon"><i class="fa-solid fa-calendar-days"></i></span>
                                <input class="form-control td-in" type="text" placeholder="28-03-2023">
                            </div>
                            <div class="line32">
                                <img src="~/Content/HomeTheme/images/Line 32.svg" alt="">
                            </div>
                            <div class="input-td" style="height: 49px;" style="border-top-right-radius: 0;">
                                <span class="date-time-icon"><i class="fa-regular fa-clock"></i></span>
                                <input class="form-control td-in" type="text" placeholder="20:05">
                            </div>
                        </div>
                        <button class="search-btn">Search</button>
                    </form>
                </div>
            </div>
            <!--Hero section ends-->
            <div class="route-options">
                <div class="first">
                    <img src="~/Content/HomeTheme/images/1.png" alt="" style="width: 32px;
          height: 32px;">
                    <p class="first-text">Journey</p>
                    <img src="~/Content/HomeTheme/images/div.png" alt="" class="straight-line">
                </div>
                <div class="second">
                    <img src="~/Content/HomeTheme/images/div (1).png" alt="" style="width: 32px;
            height: 32px;">
                    <p class="secnd-text">Vehicle</p>
                    <img src="~/Content/HomeTheme/images/div.png" alt="" class="straight-line">
                </div>
                <div class="third">
                    <img src="~/Content/HomeTheme/images/div (2).png" alt="" style="width: 32px;
                height: 32px;">
                    <p class="third-text">Vehicle</p>
                    <img src="~/Content/HomeTheme/images/div.png" alt="" class="straight-line">
                </div>
                <div class="fourth">
                    <img src="~/Content/HomeTheme/images/div (3).png" alt="" style="width: 32px;
             height: 32px;">
                    <p class="fourth-text">Pay and Book</p>
                </div>
            </div>
            <!--route section ends-->
        </div>
    </header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" integrity="sha512-2bMhOkE/ACz21dJT8zBOMgMecNxx0d37NND803ExktKiKdSzdwn+L7i9fdccw/3V06gM/DBWKbYmQvKMdAA9Nw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <script src="~/Content/HomeTheme/script.js"></script>
</body>
</html>