
@{
    ViewBag.Title = "PrivacyPloicy";
    Layout = "~/Views/Shared/_Theme.cshtml";
}
<div style="margin-left:5%;margin-right:5%;">
    <h3 style="text-align: center;"><strong>Privacy &amp; Cookie Policy&nbsp;</strong></h3>

    <p>&nbsp;</p>

    <p><strong>Introduction&nbsp;</strong></p>

    <p>
        This is the Privacy and Cookie Policy of airporttaxibook.com, operating as ufh enterprise ltd, company number 14154129, with its registered office at 27 Old Gloucester Street, London, United Kingdom, WC1N 3AX (&quot;ATB&quot; or &quot;we, our, us&quot;).&nbsp;<br />
        ATB specifies in this Privacy and Cookie Policy (henceforth &quot;Policy&quot;) which personal data are being processed and why. Additionally, it determines which cookies are employed.&nbsp;<br />
        This policy is dated 20 February 2023 and will be revised periodically to reflect any changing regulatory needs, processing procedures, or new ATB capabilities. Any such modifications to the policy will be posted on the appropriate website and will become effective immediately upon posting.&nbsp;<br />
        This policy explains how ATB and its affiliates acquire and utilise personal information. This policy applies to all international users of our applications, websites, and other services. This policy applies to all customers who seek or receive transportation, including those who get transportation requested through ATB and provided by independent transportation service providers.&nbsp;<br />
        ATB collects and processes the following personal information: data submitted by customers, such as during account creation and ordering; data created during the use of our services, such as location and app usage; and data from other sources, such as ATB partners and third parties that utilise ATB APIs.&nbsp;<br />
        The following information is gathered by or for ATB:&nbsp;<br />
        <strong>1- Information supplied by customers.&nbsp;</strong><br />
        This consists of the following:&nbsp;<br />
        When consumers create or edit their ATB accounts, we collect data for their profiles. This may include their name, email address, phone number, username and password, mailing address, profile image, and payment or banking information (including related payment verification information).&nbsp;<br />
        We acquire data from customers that do not constitute a customer profile or account. This may contain their name, email address, phone number, mailing address, pickup and drop-off locations, and payment or banking information (including related payment verification information).&nbsp;<br />
        We may collect demographic information about customers, including via customer surveys. In some countries, we may acquire customer demographic information from third parties.&nbsp;<br />
        When consumers contact ATB customer care, write ratings or reviews for other customers, or interact with ATB, we gather the information they supply. These may include customer feedback, images, and other recordings.&nbsp;<br />
        <strong>2- Information generated through the usage of our services.&nbsp;</strong><br />
        This consists of the following:&nbsp;<br />
        We acquire precise or approximate location data from travellers&#39; mobile devices if they permit us to do so. ATB collects this information from when a ride is about to begin until it ends, as well as when the app is operating in the foreground of the user&#39;s mobile device. We utilise this information to improve your experience with our apps, including enhancing pick-up locations, enabling safety features, and preventing and detecting fraud.&nbsp;<br />
        We collect transaction information connected to the use of our services, including the type of services requested or supplied, order details, date and time of service provision, the amount charged, and payment method.&nbsp;<br />
        We collect information regarding how customers engage with our services. This includes access dates and times, app features or pages accessed, app crashes and other system activity, browser type, and third-party sites or services visited before using our services. Sometimes, we collect this information using cookies, pixels, tags, and other tracking technologies that generate and store unique identifiers.&nbsp;<br />
        We may enable consumers to communicate with others and ATB via ATB&#39;s mobile applications and websites. For instance, we may allow drivers and customers to talk, text, and exchange other files (generally without disclosing their telephone numbers to each other). ATB may receive information regarding the date, time, and content of calls, messages, and other communications to provide this service. This information may include the communication&#39;s date, time, and nature. ATB may utilise this information for customer assistance (including resolving customer complaints), safety and security, product and service improvement, and analytics.&nbsp;<br />
        <strong>3- Statistics from additional sources&nbsp;</strong><br />
        This consists of the following:&nbsp;<br />
        Consumer feedback, including ratings, testimonials, and praises.&nbsp;<br />
        We are participating customers in our referral programmes. For example, when a consumer refers another person, we obtain the referred individual&#39;s personal information from that customer.&nbsp;<br />
        Owners of ATB accounts seek services for or on behalf of other customers or enable different customers to request or receive benefits via their accounts.&nbsp;<br />
        Consumers or other parties who provide information regarding claims or disputes.&nbsp;<br />
        ATB partners that clients utilise to create or access their ATB account, such as payment providers, social media platforms, or apps or websites that use ATB&#39;s APIs or whose APIs ATB uses.&nbsp;<br />
        Publicly available sources.&nbsp;<br />
        Marketing service companies.&nbsp;<br />
        ATB may combine these data with other information in its control.&nbsp;<br />
        How do we use your private information?&nbsp;<br />
        ATB gathers and utilises information to reserve dependable and convenient transportation and other products and services. We also use the data we collect to improve our customers&#39; and services&#39; safety and security, provide customer support, research and development, enable communications between customers and drivers, send marketing and non-marketing communications to customers, and in legal proceedings.&nbsp;<br />
        ATB does not sell or disclose customers&#39; personal information with other parties for their direct marketing purposes except with customers&#39; approval.&nbsp;<br />
        Why and for what purposes do we process your personal information?&nbsp;<br />
        ATB uses the data it collects for the following purposes:&nbsp;<br />
        <strong>1- Offering services and capabilities.</strong>
    </p>

    <p>
        The information collected by ATB is used to provide, personalise, maintain, and enhance our products and services. This includes creating and maintaining customer accounts.&nbsp;<br />
        Independent transportation businesses allow the reservation (and provision) of transportation services.&nbsp;<br />
        Provide, process, or facilitate financial transactions for our services.&nbsp;<br />
        Monitor and communicate the status of rides, particularly pickup.&nbsp;<br />
        Allow functions that permit customers to contribute information, such as ratings and reviews.&nbsp;<br />
        Conduct internal operations required for our services, such as troubleshooting software bugs and operational issues; data analysis, testing, and research; and monitoring and analysing usage and activity trends.&nbsp;<br />
        <strong>2- Security and safety</strong>
    </p>

    <p>
        We utilise personal information to preserve our services and consumers&#39; safety, security, and integrity. This covers device, location, profile, and usage data to prevent, detect, and counteract fraudulent or dangerous actions.&nbsp;<br />
        I am using consumer ratings and reviews to deactivate drivers with low ratings.&nbsp;<br />
        <strong>3-Customer service.</strong>
    </p>

    <p>
        ATB uses the information we collect (including recordings of customer support calls with the customer&#39;s knowledge and consent) to provide customer support, including directing questions to the appropriate customer support representative, investigating and addressing customer concerns, and monitoring and enhancing our customer support responses and processes.&nbsp;<br />
        <strong>4- Exploration and development</strong>
    </p>

    <p>
        We may utilise collected data for testing, research, analysis, and product development to enhance the user experience. This allows us to improve and enhance the safety and security of our services, prohibit their use for illegal or improper reasons, develop new features and products, and facilitate insurance and financial solutions related to our services.&nbsp;<br />
        <strong>5- Allowing for communication.</strong>
    </p>

    <p>
        A driver may text or call a customer to confirm a pickup location, while a consumer may contact a driver to reclaim a missing item.&nbsp;<br />
        <strong>6- Marketing.</strong>
    </p>

    <p>
        ATB may use the information gathered to sell our services to customers, and this involves communicating with customers regarding ATB services, features, promotions, sweepstakes, studies, surveys, news, updates, and events.&nbsp;<br />
        We may also send our customers emails regarding products and services provided by ATB partners, and we may send customers communications regarding the products and services of ATB partners. Still, we do not sell or share customers&#39; personal information with such partners or anyone for their direct marketing or advertising unless customers consent.&nbsp;<br />
        We may use the data we gather to customise the marketing communications (including advertising) we send based on customer location, past usage of ATB&#39;s services, and customer choices and settings.&nbsp;<br />
        Non-marketing communications are the seventh category. ATB may use the data we gather to generate and deliver receipts to customers, notify them of changes to our terms, services, or policies, or send other communications not to sell ATB&#39;s or its partners&#39; services or goods.&nbsp;<br />
        8- Legal requirements and procedures.
    </p>

    <p>
        We may use the personal information we collect to investigate or resolve claims or disputes connected to using ATB&#39;s services as otherwise permitted by relevant law or as required by regulators, government bodies, or official inquiries.&nbsp;<br />
        We only gather and use personal information where permitted by law. These include processing personal information to deliver requested services and features for the objectives of ATB&#39;s legitimate interests or those of third parties or based on consent.&nbsp;<br />
        We only collect and utilise personal information for one or more legitimate reasons. Such grounds may vary based on the location of our customers but often include the processing of personal data:&nbsp;<br />
        To supply desired services and characteristics&nbsp;<br />
        We must collect and utilise the aforementioned personal information to provide our services.&nbsp;<br />
        For purposes of ATB&#39;s or other parties&#39; legitimate interests&nbsp;<br />
        This includes using personal information to maintain and improve the safety and security of our customers. For instance, we utilise individual data to prevent customers who have engaged in illegal or dangerous behaviour from using our services, such as by maintaining data on banned customers to restrict their usage of ATB&#39;s apps. This also includes: combating fraud; improving our services, direct marketing, research, and development; using personal data to the extent necessary for the interests of other people or the general public, such as in connection with legal or insurance claims and to protect the rights and safety of others; fulfilling ATB&#39;s legal obligations; and with consent.&nbsp;<br />
        Trade of your personal information&nbsp;<br />
        Several ATB&#39;s products, services, and features necessitate the sharing of information with third parties at the customer&#39;s request. We may also share information with our affiliates, subsidiaries, and partners for legal or dispute-related purposes. ATB may distribute the information gathered:&nbsp;<br />
        1- With other drivers and independent providers of transportation services. This includes providing drivers with the traveller&#39;s initial name, rating, and pickup and drop-off locations.&nbsp;<br />
        2- In the general population. Questions or comments submitted by customers through public forums such as ATB blogs and social media pages may be accessible to the public, including any personal information in the question or comment.&nbsp;<br />
        ATB&#39;s website and online platforms (including social media channels) may contain references - including hyperlinks - to the websites, channels, and social media accounts of other businesses/individuals. ATB is not responsible or liable for personal data processing on these websites, channels, or media. This Cookie and Privacy Statement does not apply to the usage of such websites, channels, or media.&nbsp;<br />
        3-With the account holder at ATB. If a customer orders transportation using an account belonging to a third party, we may communicate their trip details, including their real-time location, with the account holder. This occurs, for instance, when a traveller uses their employer&#39;s ATB account or someone else plans their trip.&nbsp;<br />
        With ATB service providers and business partners, number four. ATB distributes data to vendors, consultants, marketing partners, research organisations, and other business or service partners. These include payment processors and facilitators; Google, in connection with the use of Google Maps in ATB&#39;s apps (see Google&#39;s privacy policy for information on their collection and use of data); marketing partners and marketing platform providers, including social media advertising services; data analytics providers; research partners, including those conducting surveys or research projects in partnership with ATB or on its behalf; and vendors that assist ATB to e-mail customers.&nbsp;<br />
        5- For legal purposes or in case of a dispute. ATB may release customers&#39; personal information if we believe it is necessary by law, regulation, operating licence or agreement, legal process or governmental request or if the disclosure is warranted due to safety or similar considerations.&nbsp;<br />
        This includes sharing personal information with law enforcement officials, public health officials, other government authorities, or other third parties as necessary to enforce our Traveller Terms, Transportation Terms, or other policies; to protect ATB&#39;s rights or property or the rights, safety, or property of third parties; or in the event of a claim or dispute relating to the use of our services. If you use someone else&#39;s payment card, we may be legally obligated to share your personal information, such as a trip or order details, with the cardholder.&nbsp;<br />
        6- With permission. ATB may share personal information beyond the scope of this policy if the customer is notified and consents.&nbsp;<br />
        ATB employs the standard contractual provisions outlined by the European Commission for data processed outside the European Economic Area where no adequacy decision is applicable.&nbsp;<br />
        Security&nbsp;<br />
        ATB protects your personal information with numerous technical and organisational safeguards, including firewalls and third-party data processing agreements.&nbsp;<br />
        Your legal rights&nbsp;<br />
        You may contact ATB to exercise the following rights, subject to the restrictions and conditions stipulated by applicable law. You have the right to be informed about how ATB handles your data; access your data; obtain confirmation as to whether or not your data is being processed, and if so, access your data; have your data rectified; have your data destroyed. ATB is not always required to delete your data upon request; this right only applies in the cases and, to the extent specified by law, restricts the processing of your data. ATB is not always required to limit your data at your request; this right only applies in the situations and to the extent permitted by law; to withdraw your consent when the processing is based on your consent; to object to the processing of your data for direct marketing purposes; and to data portability. This right may only be exercised when the processing is based on a contract between you and the controller.&nbsp;<br />
        If you have any questions or concerns concerning this Privacy Statement or would like to exercise any of your rights about your data handled by ATB, please email privacy@airporttaxi.com.&nbsp;<br />
        Please be aware that if you believe your rights as a data subject have been violated, you have the right to register a complaint with the relevant supervisory body.&nbsp;<br />
        Cookies&nbsp;<br />
        What are biscuits?&nbsp;<br />
        Cookies are small text files stored on your computer or mobile device when you visit one of our websites and include customer information. Cookies comprise unique codes that allow our website to recognise you when you return and improve the user experience.&nbsp;<br />
        Several sorts of cookies are distinguished by their functionality, source, and duration of storage. ATB solely utilises cookies for analytical purposes. Analytical cookies are employed for analytical purposes, i.e. to track the number of website visitors. These cookies demonstrate how the website is utilised. ATB conducts statistical analysis on the data it receives to optimise its website&#39;s structure, navigation, and content, as well as its website&#39;s functionality and user experience and connected services.&nbsp;<br />
        What cookies do we employ?&nbsp;<br />
        ATB employs the following cookies to enhance our website&#39;s functioning and user experience:&nbsp;<br />
        Name Period of Storage Content&nbsp;<br />
        Handling cookies&nbsp;<br />
        You can activate or disable analytics cookies by modifying your browser&#39;s settings. This information can be found in the browser&#39;s help section. You can view and remove the cookies on your computer or mobile device using your browser and decide not to accept cookies in the future. These links provide additional information about cookies and their management:&nbsp;<br />
        Questions or complaints?&nbsp;
    </p>

    <p>If you have any questions or concerns regarding our policy, please email Privacy@airporttaxibook.com.</p>


    </div>