
@{
    ViewBag.Title = "Termscondition";
    Layout = "~/Views/Shared/_Theme.cshtml";
}
<div style="margin-left:5%;margin-right:5%;">
    <h3 style="text-align: center;"><strong><span style="font-size:24px;">Conditions and Terms&nbsp;</span></strong></h3>

    <p>
        <strong>1. INTRODUCTION&nbsp;</strong><br />
        This is our website&#39;s link to the Airport Taxi Book Terms and Conditions (Terms). Please read these Terms carefully before you continue to use our website or make a reservation.&nbsp;<br />
        Please read these Terms along with our Privacy Policy, Cancellation Policy, and Cookie Policy to learn more about how you can use our website.&nbsp;<br />
        By using our website and making a reservation for ground transportation, you agree to the following:
    </p>

    <ul>
        <li>You are at least 18 years old;</li>
        <li>You are legally able to be bound by these Terms;</li>
        <li>You have had enough time to read and understand these Terms;</li>
        <li>You accept these Terms and agree to follow and be bound by them.&nbsp;</li>
    </ul>

    <p>
        If you don&#39;t agree with these Terms, you can&#39;t use the website anymore.&nbsp;<br />
        <strong>2. What is AIRPORTTAXIBOOK.COM?&nbsp;</strong><br />
        Airporttaxibook.com is a website owned and run by such enterprise ltd. (&quot;Airport Taxi Book&quot;, &quot;us&quot;, &quot;we&quot;, and &quot;our&quot;), which is registered in England (company registration number: 14154129) at 27 Old Gloucester Street, London, United Kingdom, WC1N 3AX.&nbsp;<br />
        Our website is an online marketplace that makes it easier to book ground transportation with third-party companies.&nbsp;<br />
        Each Transport Company works on its own and is not part of us. The Transport Company is in charge of getting you and the other people in your booking to where you need to go (&quot;Transport Services&quot;).&nbsp;<br />
        <strong>3. A AGREEMENT&nbsp;</strong><br />
        Once you book a ride on our website, we will use third-party Transport Companies to set up your ground transfers. As a marketplace, we don&#39;t take any responsibility for what Transport Company does or doesn&#39;t do or for their services. Only these Terms and Conditions apply to your relationship with us.&nbsp;<br />
        When you book, you confirm that you have read and agreed to the terms and information on our website and that you can legally do so on behalf of yourself and everyone in your party. This means that you are responsible for making all payments, letting us know if any changes or cancellations are needed, getting the confirmation, and keeping your party informed.&nbsp;<br />
        When your reservation is confirmed, the Transport Company will send you a confirmation. We can say no to any order you give us, and we can&#39;t promise that every booking request for Transport Services will be filled. If it seems unlikely that we will be able to provide you with Transport Services, we&#39;ll email you as soon as possible to let you know.&nbsp;<br />
        Using the Services we offer on our site, you agree to receive the e-mails and SMS we send you as part of the transactions. So, everything you do with the services you get through our website will be easier and faster.&nbsp;<br />
        During the sign-up process for our site, you can also use the opt-in option to agree to receive our commercial e-mails and text messages in which we tell you about special offers, promotions, and campaigns related to our Services. This choice is entirely up to you, and you can change your mind at any time about receiving marketing e-mails and text messages. Check out our Privacy Policy if you want to know more.&nbsp;<br />
        <strong>4. BOOKINGS&nbsp;</strong><br />
        To book, pick a mode of transportation from our website that fits your needs and follow the steps for online booking.&nbsp;<br />
        It would be best if you made sure that all of the information you give us when you book is correct. This includes the pick-up information. Once you&#39;ve confirmed these details, we&#39;ll confirm the reservation with the Transport Company you chose.&nbsp;<br />
        We are not responsible for your trip, nor is the Transport Company, if you did not give us the correct information. Check out our policy on cancellations for more details.&nbsp;<br />
        Suppose you book with a Transport Company outside the UK (whether it&#39;s in the EEA or not). In that case, you understand and agree that your personal information will be sent to the overseas Transport Company to take care of your booking. Our Privacy Policy can be read in full on our website or by contacting us.&nbsp;<br />
        The map and road route of the Service shown on the website are only there to give you a general idea. Based on distance, time, and km, you can&#39;t be sure you&#39;ll get the same service shown on the map. The Transport Company determines which route will be easiest for him and his passenger. Please remember this when you book your trip and decide where to go.&nbsp;<br />
        Your reservation is confirmed when an email is sent to the email address you gave when you made the reservation. You might have to show the driver your reservation details before you can get on the bus.&nbsp;<br />
        Once your booking is confirmed, your chosen transport company will be waiting for you at the place you told them to pick you up, and at the time you told them to pick you up. The transportation company may call you a few hours before your Pick-up Departure Time, or you can call them using the information you got in the email that confirmed your reservation. For more information, please check Meeting With The Transport Company.&nbsp;<br />
        <strong>5. PRICE AND PAYMENT&nbsp;</strong><br />
        All of the prices on our website include taxes, airport parking, administrative fees, and fees charged by the agency. On the page where you book your transfer, there will be a list of any extras included in the price.&nbsp;<br />
        Tolls for roads, bridges, etc., are only included in the prices shown in the search results if it says otherwise. You might have to pay this separately to the Transport Company.&nbsp;<br />
        If you want extras or make other requests, you may have to pay the Transport Company directly for those costs. Please remember that they may only be able to if you ask the Transport Company to do something after the cancellation time. In this case, the Transport Company can charge you the total amount. See Baggage, Extra Passengers, Special Requests, Passengers with Disabilities or Special Needs, and Passengers with Children for more information.&nbsp;<br />
        Our business partner Stripe will charge the credit or debit card you use to pay the price for the booking as soon as you request it.&nbsp;<br />
        Neither the Transport Company nor we can refund any fees or charges your card provider adds, and you will need to call the company that gave you the card.&nbsp;<br />
        From time to time, we have sales and deals. Each of the promotions has its own rules that need to be checked.&nbsp;<br />
        6. MEETING THE TRANSPORT COMPANY&nbsp;<br />
        All passengers must wait for the transfer at the place listed in their booking confirmation email or at another location agreed upon by the Transport Company and the passenger. You should be there at least 15 minutes before the pick-up time that you and the Transport Company decided on or that they told you about.&nbsp;<br />
        Since the time it takes to get from your pick-up point to your destination can change based on traffic and other factors, we recommend using Google or a similar app to get an accurate estimate when booking your ride. The Transport Company will give you an estimated time of arrival to help you, but it is not binding. You can&#39;t sue for damages if you are late to your destination based on this estimated time.&nbsp;<br />
        If you don&#39;t cancel the Transport Services within the time limit set by the time you chose your Transport Services, you won&#39;t be able to get a refund, even if you don&#39;t use the Transport Services (for example, if you don&#39;t show up).&nbsp;<br />
        If you are late and the Transport Service you chose doesn&#39;t give you extra time, contact them as soon as possible. Alternative pick-up plans depend on the Transport Company&#39;s availability, and it&#39;s up to them to wait for you or charge you the total price if you don&#39;t show up. If you don&#39;t call your transportation company, you&#39;ll be considered a &quot;passenger no-show,&quot; and you won&#39;t get your money back.&nbsp;<br />
        If the Transport Company doesn&#39;t come to pick you up or tell you before your pick-up time, you should contact them as soon as possible. If you can&#39;t reach the Transportation Company, get your flight and other connections and find another way to get where you need to go. Tell Airport Taxi Book as soon as possible (a maximum of three business days) that your driver did not pick you up at the designated place. If this is because of the Transport Company or the driver&#39;s mistake, you can get your money back in full. Please read below about how to cancel, get a refund, or make changes, as well as our cancellation policy.&nbsp;<br />
        <strong>7. BAGGAGE&nbsp;</strong><br />
        Each passenger can bring as much and as big of a bag as the Transport Service they choose when they book allows. Extra luggage that is bigger than the allowed size (and other things like golf bags, skis, etc., like skis, bicycles, snowboards, wheelchairs/scooters, etc.) must be reported at the time of booking, and you may have to pay the Transport Company extra fees or charges. If you have excess luggage or luggage bigger than the standard size, your reservation could be cancelled if there isn&#39;t enough room in the luggage hold. You might have to change the type of vehicle you&#39;re driving.&nbsp;<br />
        The Transport Company may charge extra for extra luggage or only carry it if it has been arranged ahead of time. See also Special Requests Or Need.&nbsp;<br />
        <strong>8. ADDITIONAL PASSENGER&nbsp;</strong><br />
        Our list of transport companies doesn&#39;t charge you based on how many people you have, but the features and size of the vehicle you choose will depend on how many people you have. Depending on your needs, the Transport Company may give you a different car and charge you extra, or they may refuse to take you if you have more people.&nbsp;<br />
        <strong>9. SPECIAL REQUESTS OR REQUIREMENTS&nbsp;</strong><br />
        All special requests, like escorting and greeting services for VIPs, depend on how well the Transport Company can handle them. We can&#39;t promise that the Transport Company will do anything special for you. There may be extra fees; if there are, you will need to pay them directly to your Transport Company.&nbsp;<br />
        <strong>10. KIDS ON BOARD AND KID&#39;S SEATS&nbsp;</strong><br />
        You may have booked a trip to a particular place, like the European Union, where children under two can travel without a child seat as long as there is an adult passenger seat. But the authorities say that children must use the correct heart until they are 12 or 135 cm tall.&nbsp;<br />
        Please note that all children and infants, no matter how old they are, count towards the number of people who can fit in the vehicle, and this number must be added to the total number of passengers when the reservation is made.&nbsp;<br />
        When travelling with children, please ensure you know the area&#39;s rules.&nbsp;<br />
        <strong>11. DISABLED OR SPECIAL NEEDS PASSENGERS&nbsp;</strong><br />
        We are not a company specialising in transporting people with disabilities, but we will do our best to meet your needs. If you or anyone in your group has a medical condition or disability that might make it hard to use our standard services, please let us know by writing us an order note before you book. This way, we can make sure the right vehicle is booked to meet your needs.&nbsp;<br />
        <strong>12. LATE BOOKINGS&nbsp;</strong><br />
        Each transportation company has different rules about how far in advance you can book a ride. Because of this, only some companies or vehicles can take last-minute passengers.&nbsp;<br />
        <strong>13. CHANGES, REFUNDS, AND REFUNDS&nbsp;</strong><br />
        Airport Taxi Book can cancel your reservation at any time before the pick-up for any reason. You will get an email telling you about the change.&nbsp;<br />
        All cancellations must be sent to <strong><span style="background-color:#ffff00;">cancel@airporttaxibook.com</span></strong>, a specific email address.&nbsp;<br />
        If you cancel 48 hours before the Pickup Date/Time, you will get your money back in full.&nbsp;<br />
        There will be no refund if the cancellation request is emailed less than 48 hours before the Pickup Date/Time.&nbsp;
    </p>

    <p>
        Airport Taxi Book can&#39;t be blamed and won&#39;t pay for flight tickets, hotel reservations, or train tickets that must be cancelled because the transportation company needs to be on time.&nbsp;<br />
        You need to use the services for any reason and use the cancellation email to cancel the booking to get your money back. See our policy on cancelling for more information.&nbsp;<br />
        If the Transfer Company needs to change or cancel your confirmed Transport Arrangements significantly, we&#39;ll let you know as soon as possible. We will also talk to you and the Transport Company about any other options they offer, but we won&#39;t be responsible for anything else.&nbsp;<br />
        <strong>14. INSURANCE&nbsp;</strong><br />
        We recommend that you travel with your travel insurance, which is adequate for your needs, including your flight ticket, hotel booking or any other transportation tickets you may have.&nbsp;<br />
        <strong>15. OUR Responsibilities&nbsp;</strong><br />
        We act as a marketplace for Transport Companies. Airport Taxi Book (including our employees, officers and directors) do not accept responsibility for the actual provision of the Transport Services, the acts or omissions, or for any loss or damage of any kind arising out of, or in connection with any booking made with a Transport Provider, or for any loss or damage caused by the Transport Provider or its drivers, or the performance by them of the Transport Services.&nbsp;<br />
        Since we are a marketplace that works with many Transport Companies, the information about Transport Services, such as pricing, vehicle type, and availability, shown on our website is relevant to the Transport Companies. We are not responsible for such information, and we rely on the accuracy of the information provided by the appropriate Transport Company.&nbsp;<br />
        Even though all of the above is true, no part of these Terms tries to or is meant to get rid of legal liability if and only if that liability can&#39;t be legally called rid of.&nbsp;<br />
        <strong>16. PRIVACY:</strong>
    </p>

    <p>
        We care about you and your data&#39;s safety. Please know that we don&#39;t get your sensitive information for any reason. You can look at all the details of the personal information we collect about you so we can give you Transport Services. We protect your data based on the UK GDPR and care about our users&#39; privacy. To learn more, please review our Privacy Policy and Cookie Policy.&nbsp;<br />
        <strong>17. COMPLAINTS:</strong>
    </p>

    <p>
        If you have a problem, email complaint@airporttaxiboo.com, and we will look into it. Please note that this could take up to 28 days; in most cases, we will keep you updated.&nbsp;<br />
        <strong>18. DISCLAIMER&nbsp;</strong><br />
        As much as the law allows, we don&#39;t take responsibility for any direct or indirect loss or damage you might experience from using this website or any linked website. This includes loss or damage caused by negligence. This exclusion includes any loss or damage caused by the loss of data, the interruption of business, any consequential or incidental damages, or any loss caused by your use of or reliance on information on or accessed through the website. Also, to the fullest extent allowed by law, any condition or warranty usually implied in these Terms is ruled out.&nbsp;<br />
        Even though all of the above is true, no part of these Terms tries to or is meant to get rid of legal liability if and to the extent that it can&#39;t be legally called rid of.&nbsp;<br />
        If any applicable law implies a condition, warranty, or provision, and that law prevents us from excluding or changing the application of or our liability under that condition, warranty, or provision, that condition, warranty, or provision will be considered to include. Still, our liability for a breach of that condition, warranty, or provision will be limited to one or more of the following at our option:&nbsp;
    </p>

    <ul>
        <li>the service again; or the cost being paid;&nbsp;</li>
        <li>the getting&nbsp;</li>
        <li>of the service being done again (for example, in the case of a booking, the price paid for the booking.)&nbsp;</li>
    </ul>

    <p>
        If the law allows none of the above, then our liability is limited to the maximum amount permitted.&nbsp;<br />
        <strong>19. THE RIGHTS TO INTELLECTUAL PROPERTY&nbsp;</strong><br />
        We own the copyright, trademarks, and other intellectual property rights on our websites or have been given permission to use them. National and international laws protect these rights.&nbsp;<br />
        Our website content can&#39;t be used in any way without our permission. This includes changing it, publishing it again, copying it, or showing it in whole or in part.&nbsp;<br />
        You promise here not to use our websites to do anything illegal.&nbsp;<br />
        <strong>20. SEVERABILITY&nbsp;</strong><br />
        Suppose any court or authority with the right to do so decides that any provision or part of a provision of these terms and conditions is illegal, invalid, or can&#39;t be enforced. In that case, that provision or part-provision will be taken out of these terms and conditions, and the rest will work as if that provision or part-provision had never been agreed to.&nbsp;<br />
        <strong>21. GOVERNING LAW AND JURISDICTION&nbsp;</strong><br />
        These terms and conditions, as well as any dispute or claim that comes up because of them or has something to do with them (even if it has nothing to do with the contract), will be governed by and interpreted according to English law. Disputes or claims that come up because of or in connection with these terms and conditions or that have nothing to do with them will only be heard by the English courts.&nbsp;<br />
        <strong>22. LAST REVISION&nbsp;</strong><br />
        We make changes to these Terms from time to time, so check this page often. You can ask for a printed copy of these Terms, which will be kept. The last time this page was changed was on February 20, 2023.
    </p>


    </div>